
body {
    background-color: #ffffff;
    /*background-image:  url('../BKGimages/Im_bkg_big.001.jpg');*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: center center;              /* optional, center the image */ */
}

body.main{
  background-color:  #ffffff;
  background-image:  url('../BKGimages/Im_bkg_big.001.jpg');
}

body.AboutMe {
    background-color: #ffffff;
    background-image:  url('../BKGimages/Im_bkg_big_3.001.jpg');
    }

body.CV{
    background-color: #ffffff;
    background-image:  url('../BKGimages/Im_bkg_big.2.jpg');
    }

body.contacts{
    background-color: #000000;
    background-image:  url('../BKGimages/Im_bkg_big.5.jpg');
    }

@font-face {
    font-family: 'BTR';
    src: url('fonts/BTR.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

 div.scrollmenu {
    background-color: #000000;
    overflow: auto;
    white-space: nowrap;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10pt;
    opacity: 0.6;
}


div.scrollmenu a {
    /*display: inline-block;*/
    color: white;
    font-size: 30px;
    /*font-weight: bold;*/
    text-align: center;
    font-family: BTR;
    padding: 50px, 0;
    margin: 5%;
    text-decoration: none;
    border-radius: 5pt;
    clear: both;
    
}

div.scrollmenu a:hover {
    background-color: #ffffff;
    color: #8c8cd9;
}

h1 {
    text-align: center;
    color: #330066
    font-size: 20px;
    font-weight: bold;
    font-family: BTR;
}
div.Homelink{
  font-size: 20px;
  font-family: Cosmic Love;
}
div.Homelink a {
  color: #ffffff;
  background-color: #000000;/*#ffffff;*/
  padding: 5px 10px;/*10px 0px 5px 0px;*/
  margin: 10px;
  opacity: 0.8;
  border-radius: 5pt;
  border-color: #000000;
  border-width: 2px;
  float: left;
  /*clear: both;*/
}
div.Homelink a.imageBottom {
  padding: 5px 0px;/
  }

div.Homelink a:hover{
  background-color: #ffffff;
  color: #8c8cd9;
}
/*<!-- hover-->*/
div.image{
  background-image:url(data:image/png;base64,iVBORwA<MoreBase64SringHere>); 
}
/* backgrounds */
.day { background-image: url('../BKGimages/Im_bkg_big.2.jpg'); 
background-color: #ffffff;
}
.sunset { background-image: url('../BKGimages/Im_bkg_big_3.001.jpgg'); 
background-color: #ffffff;
}
.sunrise { background-image: url('../BKGimages/Im_bkg_big.001.jpg'); 
background-color: #ffffff;
}
.evening { background-image: url('../BKGimages/Im_bkg_big.004.jpg'); 
background-color: #000000;
}
.night { background-image: url('../BKGimages/Im_bkg_big.5.jpg'); 
background-color: #000000;
}

/*
.cd-stretchy-nav {
  position: fixed;
  z-index: 2;
  top: 40px;
  right: 5%;
}
.cd-stretchy-nav .stretchy-nav-bg {
  
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #9acd91;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  transition: height 0.2s, box-shadow 0.2s;
}
.cd-stretchy-nav.nav-is-visible .stretchy-nav-bg {
  height: 100%;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}
*/
